.wrapper {
  position: relative;
  /* padding: 20px; */
  display: flex;
  width: 50%;
  /* top: 4vh; */
  height: auto;
  justify-content: flex-start;
  background-color: #F4EEFF;
  align-items: center;
}
