@media only screen and (min-width: 780px) {
  .Goals-Wrapper {
    position: relative;
    width: 50%;
    /* padding: 10px; */
    height: auto;
    margin: 30px 10px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .done-logo {
    position: relative;
    width: 40vh;
    margin: auto;
  }
}
@media only screen and (max-width: 780px) {
  .Goals-Wrapper {
    position: relative;
    width: 100%;
    /* padding: 10px; */
    height: auto;
    margin: 30px 10px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .done-logo {
    position: relative;
    width: 40vh;
    margin: auto;
  }
}
